@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #eaece4;
}

.container {
    max-width: 860px;
    margin: 0px auto;
    
}

.container-lg {
    max-width: 1080px;
    margin: 0px auto;
}

.footer {
    position: absolute;
    bottom: -640px;
    left: 0px;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #020202;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #000000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.sub-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;        
    color: #020202;
}

.down-arrow {
    font-size: 8rem;
}

.magic-mirror {
    height: 500px;
    max-width: 1080px;
    margin: 0 auto;
}

.center {
    margin: auto;
    width: fit-content;
}

.fixed-bl {
    position: fixed;
    left: 0;
    bottom: 0;
}

hr {
    background-color: #000000;
    height: 2px;
}

$ani-speed: 2s;

.arrow1 {
    opacity: 0;
    position: relative;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow1-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}

.arrow1:before,
.arrow1:after {
    background: #000;
    content: '';
    display: block;
    height: 2px; 
    position: absolute;
        top: -200px;
        left: 55px;
    width: 10px;
}

.arrow1:before {
    transform: rotate(-50deg) translateX(-26%);
    transform-origin: top left;
}

.arrow1:after {
    transform: rotate(50deg) translateX(26%);
    transform-origin: top right;
}

.arrow2 {
    opacity: 0;
    position: relative;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow2-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}

.arrow2:before,
.arrow2:after {
    background: #000;
    content: '';
    display: block;
    height: 2px; 
    position: absolute;
        top: -200px;
        left: 180px;
    width: 10px;
}

.arrow2:before {
    transform: rotate(-50deg) translateX(-26%);
    transform-origin: top left;
}

.arrow2:after {
    transform: rotate(50deg) translateX(26%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 260px;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
        top: 240px;
    }
}

.arrow3 {
    opacity: 0;
    position: relative;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow3-first {
    animation: arrow-movement-down $ani-speed ease-in-out infinite;
}

.arrow3:before,
.arrow3:after {
    background: #000;
    content: '';
    display: block;
    height: 2px; 
    position: absolute;
        top: -240px;
        left: 50%;
    width: 10px;
}

.arrow3:before {
    transform: rotate(-50deg) translateX(60%);
    transform-origin: top left;
}

.arrow3:after {
    transform: rotate(50deg) translateX(-60%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement-down {
    0% { 
        opacity: 0;
        top: 180px;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
        top: 200px;
    }
}

// Responsive CSS
@media (max-width: 375px) {
    .container-lg {
        font-size: 1rem;
    }

    .container {
        font-size: 1rem;
        
    }

    .heading {
        font-size: 2rem;
        margin-right: .5rem;
    }

    .sub-heading {
        font-size: 1.6rem;
    }

    .contact-flex {
        flex-direction: row;
    }

    .magic-mirror {
        height: auto;
        max-width: 1080px;
        margin: 0 auto;
    }
}